
.content
  max-width: 800px
  margin: auto
  z-index: -1

.padder
    padding: 0px 10px 0px 10px
    color: #ffffff

.footer
  height: 30%
  background-color: #e0e0e0

.headline
  width: 100%
  text-align: center
  margin: auto
  font-size: xx-large
  font-family: 'Open Sans', sans-serif

.headerimage
  width: 100%
  height: auto
  
img
  width: 100%

.container
  position: absolute
  width: 100%
  left: 0
  border-style: solid
  border-color: #000000

.text-container
  padding-top: 10%
  padding-bottom: 5%
  width: 100%

.intro_text
  font-size: larger
  font-family: 'Open Sans', sans-serif
  text-align: justify
  line-height: 1.6

.intro_img
  flex-basis: 50%
  padding-top: 5%
  padding-bottom: 10%

  