
<app-navbar></app-navbar>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<div class="headerimage">
     <img src="assets/Webbanner.png">
 </div>
<div class="content">


    <div class="text-container">
        <div class="intro_text">
            <p>
                Der Verein Mut-Musik und Toleranz- e.V. entwickelt, organisiert und realisiert Musik- und Multimediaprojekte (Musik, Film, Foto, etc.) mit Kindern und Jugendlichen insbesondere an Schulen, Kinder- und Jugendeinrichtungen in sozial benachteiligten Stadtteilen Hamburgs.
            </p>
            <P>
                Über das aktive, eigene Musizieren werden viele Fähigkeiten der Jugendlichen entwickelt und ihr Selbstbewusstsein gestärkt. Mut e.V. macht Angebote für Gruppen, die in der Freizeit der Schüler oder an Projekttagen der Schulen stattfinden können. Es besteht zudem die Möglichkeit, eigene kleine Bands zu gründen, Texte zu schreiben und in einer Musikwerkstatt, eigene CDs zu produzieren. Desweiteren können eigene Multimediaprojekte entwickelt werden: Eine Stadtteilhomepage, ein Musikvideo...
            </P>
        </div >
    </div>

    <div class="view overlay zoom" class="intro_img">
        <img src="assets/zz1 mut collage 2015c.jpg" class="img-fluid " alt="smaple image">
    </div>


<footer class="container">
    <div class="footer">
        Wieder hoch! :)
    </div>
    
</footer>

</div>



<router-outlet></router-outlet>