
<app-navbar></app-navbar>



<div class="headerimage">
     <img src="assets/headerbannerFINAL6.png">
 </div>
<div class="headline">Herzlich Willkommen auf der Webseite des M.u.T. - Musik und Toleranz e.V.</div>
<div class="content">

    

    <div class="view overlay zoom">
        <img src="assets/zz1 mut collage 2015c.jpg" class="img-fluid " alt="smaple image">
        <div class="mask flex-center">
            <p class="black-text">Angelika und Norbert Hecht</p>
        </div>
    </div>

       <div >
            Der Verein Mut-Musik und Toleranz- e.V. entwickelt, organisiert und realisiert Musik- und Multimediaprojekte (Musik, Film, Foto, etc.) mit Kindern und Jugendlichen insbesondere an Schulen, Kinder- und Jugendeinrichtungen in sozial benachteiligten Stadtteilen Hamburgs. Über das aktive, eigene Musizieren werden viele Fähigkeiten der Jugendlichen entwickelt und ihr Selbstbewusstsein gestärkt. Mut e.V. macht Angebote für Gruppen, die in der Freizeit der Schüler oder an Projekttagen der Schulen stattfinden können. Es besteht zudem die Möglichkeit, eigene kleine Bands zu gründen, Texte zu schreiben und in einer Musikwerkstatt, eigene CDs zu produzieren. Desweiteren können eigene Multimediaprojekte entwickelt werden: Eine Stadtteilhomepage, ein Musikvideo...
       </div >

       <div >
            <img src="assets/insertvideohere.PNG" >
       </div>

       <div>
            <img src="assets/insertvideo2.PNG" >
       </div>

       <div>
           <img src="assets/insertvideo2.PNG" >
       </div>

</div>



<router-outlet></router-outlet>