<div class="headerimage" id="imagehead">
    <img src="assets/headerbanner4.png">
</div>

<div #stickyMenu [class.sticky]="sticky">
    <mat-toolbar color="primary" class="mat-elevation-z4" id="navbar">
        <mat-toolbar-row class="mat-toolbar-row">
            <span class="span"> Wilkommen bei MuT</span>
            <span class="spacer"></span>
            <a class="span" mat-button> Idee und Konzeption </a>
            <a class="span" mat-button> Das MuT Team </a>
            <a class="span" mat-button> Fit4Life durch Vorbilder </a>
            <a class="span" mat-button> Gewonnene Preise </a>
            <span class="spacer"></span>
            <a class="span" mat-raised-button (mouseover)="getRandomColor()" [ngStyle]="{color: color}" (mouseleave)="setIdleColor()">
                Mithelfen oder Spenden </a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>