
<!--bootstrap navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <img class="navbar-brand" href="#" src="assets/MuTlogoOnly.png" width="50" />
            <li class="nav-item">
                <a class="nav-link" href="#">Der Verein <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Unsere Projekte</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Fit4Life!</a>
            </li>
        </ul>
    </div>
</nav>

<!--material navbar-->
<mat-toolbar color="primary" class="lock">
    
    <span> Wilkommen bei MuT</span>
    <span class="spacer"></span>
    <a mat-button> Home </a>
    <a mat-button> Featuring </a>
    <a mat-button> Pricing </a>
    <a mat-button> Disabled </a>    
    <a mat-raised-button color="red"> Donations </a>
  
</mat-toolbar>