

<div>
    <mat-toolbar color="primary" class="mat-elevation-z6" id="navbar">
        <mat-toolbar-row class="mat-toolbar-row">
             <button mat-mat-icon-button>WIP</button>
            <span class="span"> Wilkommen bei MuT</span>
            <span class="spacer"></span>
            <a class="flat-button" mat-flat-button> Idee und Konzeption </a>
            <a class="flat-button" mat-flat-button> Das MuT Team </a>
            <a class="flat-button" mat-flat-button> Fit4Life durch Vorbilder </a>
            <a class="flat-button" mat-flat-button> Gewonnene Preise </a>
            <span class="spacer"></span>
            <a class="flat-raised-button" mat-raised-button (mouseover)="getRandomColor()" [ngStyle]="{color: color}"(mouseleave)="setIdleColor()">
                Mithelfen oder Spenden </a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

